{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Krishan Mohan Sah</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  {% comment %} <link rel="stylesheet" type="text/File" href="{% static 'images' %}"> {% endcomment %}

  <script src="https://kit.fontawesome.com/bd9fde9a6e.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
  {% for text in texts %}
  {% for link in links %}

  <!-- Navigation -->
  <nav>
    <div class="container">
      <div class="logo">{{text.logo}}</div>
      <div class="mobile-button">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="nav">
        <ul>
          <li><a href="#home" id="menu-home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#skill">Skills</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Section 1 -->
  <div class="banner" id="home">
    <div class="container">
      <div class="text">
        <ul>
          <li><a href="{{link.github}}"><i class="fab fa-github"></i></a></li>
          <li><a href="{{link.instagram}}"><i class="fab fa-instagram"></i></a></li>
          <li><a href="{{link.linkedin}}"><i class="fab fa-linkedin"></i></a></li>
          <li><a href="{{link.facebook}}"><i class="fab fa-facebook"></i></a></li>
          <li><a href="{{link.github}}"><i class="fas fa-envelope"></i></a></li>
        </ul>
        <h1>{{text.home1}}</h1>
        <p>{{text.home2}}</p>
          <a href="{% url 'download_cv' %}"><button>{{text.home3}}</button></a>
      </div>
      <a href="#">
        {% for image in images %}
        <div class="image">
         <img class="me-image" src="{{image.img_krish1.url}}">
        </div>
        
      </a>
    </div>
  </div>

  <div class="banner about-banner" id="about">
    <div class="banner-wrapper">
      <div class="banner-header">
        <h1>About Me</h1>
        <p>{{text.about1}}</p>
        <div class="divider"></div>
      </div>
      <div class="banner-body">
        <div class="left">
          <div class="me-image-wrapper">
            <a href="#">
              
              <div class="me-image" id="my-image"></div>
              
            </a>
          </div>
        
        </div>
        <div class="right">
          <h1>{{text.about2}}</h1>
          <p>{{text.about3}}</p>
          <p>{{text.about4}}</p>
          <div class="contact-info">
            <div class="info">
              <h1>Name:</h1>
              <p class="my-name"></p>
            </div>
            <div class="info">
              <h1>Email:</h1>
              <p class="my-email"></p>
            </div>
            <div class="info">
              <h1>LinkedIn:</h1>
              <p class="my-name"></p>
            </div>
            <div class="info">
              <h1>Instagram:</h1>
              <p class="my-insta"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banner skill-banner" id="skill">
    <div class="banner-wrapper">
      <div class="banner-header">
        <h1>Skill</h1>
        <div class="divider"></div>
      </div>
      <div class="banner-body">
        <div class="left">
          <span>{{text.skill1}}</span>
          <h1>{{text.skill2}}</h1>
          <p>{{text.skill3}}</p>
          <p>{{text.skill4}}</p>
            <a href="#contact"><button>{{text.skill5}}</button></a>
        </div>
        


  <div class="right">
    <div class="slider">
        <span class="java">Python</span>
        <div class="slider-box" id="java">
            <span class="slider-btn" id="java-btn"></span>
            <span class="slider-color" id="java-progress"></span>
            <span class="slider-tooltip" id="java-value"></span>
        </div>
    </div>
    <div class="slider">
      <span>Django</span>
      <div class="slider-box" id="typeScript">
          <span class="slider-btn" id="ts-btn"></span>
          <span class="slider-color" id="ts-progress"></span>
          <span class="slider-tooltip" id="ts-value"></span>
      </div>
  </div>
    <div class="slider">
        <span>JavaScript</span>
        <div class="slider-box" id="js">
            <span class="slider-btn" id="js-btn"></span>
            <span class="slider-color" id="js-progress"></span>
            <span class="slider-tooltip" id="js-value"></span>
        </div>
    </div>
    <div class="slider">
        <span>HTML</span>
        <div class="slider-box" id="html">
            <span class="slider-btn" id="html-btn"></span>
            <span class="slider-color" id="html-progress"></span>
            <span class="slider-tooltip" id="html-value"></span>
        </div>
    </div>
    <div class="slider">
        <span>CSS</span>
        <div class="slider-box" id="css">
            <span class="slider-btn" id="css-btn"></span>
            <span class="slider-color" id="css-progress"></span>
            <span class="slider-tooltip" id="css-value"></span>
        </div>
    </div>
    <div class="slider">
        <span>Bootstrap</span>
        <div class="slider-box" id="typeScript">
            <span class="slider-btn" id="ts-btn"></span>
            <span class="slider-color" id="ts-progress"></span>
            <span class="slider-tooltip" id="ts-value">60</span>
        </div>
    </div>
</div>
</div>
</div>
</div>


  <div class="banner client-banner" id="client">
    <div class="banner-wrapper">
      <div class="banner-header">
        <h1>Testimonials</h1>
        <span>Happy Clients Says</span>
        <div class="divider"></div>
      </div>
      <div class="banner-body">
        <div class="center">
          <div class="quote-card">
            <div class="quote-icon">
              <i class="fas fa-quote-right"></i>
            </div>
            <div class="quote-text">
              <p id="client-quote">{{text.testi0}}</p>
            </div>
          </div>
          <div class="quote-client">
            <div class="client-image-wrapper">
              <div class="client-image" id="client-image"></div>
            </div>
            <div class="client-info">
              <h4 id="client-name"></h4>
              <span id="client-work"></span>
            </div>
            <div class="client-changer">
              <div class="left-slide" onclick="changeClient('-')">
                <i class="fas fa-arrow-left"></i>
              </div>
              <div class="right-slide" onclick="changeClient('+')">
                <i class="fas fa-arrow-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="banner contact-banner" id="contact">
    <div class="banner-wrapper">
      <div class="banner-header">
        <span>Have Any Query?</span>
        <h1>Contact Me</h1>
        <div class="divider"></div>
      </div>
      <div class="banner-body">
        <div class="infos">
          <div class="card">
            <div class="icon">
              <i class="fas fa-location-arrow"></i>
            </div>
            <div class="info">
              <span>Location</span>
              <p class="my-location"></p>
            </div>
          </div>
          <div class="card">
            <div class="icon">
              <i class="fas fa-envelope"></i>
            </div>
            <div class="info">
              <span>Get in online</span>
              <p class="my-email"></p>
            </div>
          </div>
          <div class="card">
            <div class="icon">
              <i class="fab fa-linkedin"></i>
            </div>
            <div class="info">
              <span>LinkedIn</span>
              <p class="my-name"></p>
            </div>
          </div>
        </div>
      <form method="post" action="{% url 'contact' %}">
        {% csrf_token %}
        <div class="contact-me" name="contact">
          <div class="form">
            <input type="text" name="name" class="form-input" placeholder="Your name">
            {{ form.name }}
          </div>
          <div class="form">
            <input type="text" name="email" class="form-input" placeholder="Your E-Mail">
            {{ form.email }}
          </div>
          <div class="subject">
            <input type="text" name="subject" class="form-input" placeholder="Your Subject">
            {{ form.subject }}
          </div>
          <textarea name="message" cols="40" rows="10" aria-required="true" aria-invalid="false" placeholder="Your Message">{{ form.message }}</textarea>
          
          <button type="submit">Send Message</button>
        </div>
      </form>
      
        
        
      </div>
    </div>
  </div>

  <div class="banner project-banner">
    <div class="banner-wrapper">

    </div>
  </div>

  <div class="banner pre-footer-banner" id="pre-footer">
    <div class="banner-wrapper">
      <h1>{{text.last1}}</h1>
      <span>{{text.last2}}</span>
      <div class="divider"></div>
      <ul>
        <li><a href="{{link.github}}"><i class="fab fa-github"></i></a></li>
        <li><a href="{{link.instagram}}"><i class="fab fa-instagram"></i></a></li>
        <li><a href="{{link.linkedin}}"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="{{link.facebook}}"><i class="fab fa-facebook"></i></a></li>
        <li><a href="{{link.github}}"><i class="fas fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>

  <button onclick="topFunction()" id="my-btn" class="scroll-button"><i class="fas fa-arrow-up"></i></button>

  <footer class="banner footer-banner" id="footer">
    <div class="banner-wrapper">
      <span>{{text.last3}}</span>
    </div>
  </footer>
 
<script>
  let index = 0;
let myButton = $("#my-btn");
let clientName = $("#client-name");
let clientWork = $("#client-work");
let clientQuote = $("#client-quote");
let clientImage = $("#client-image");

let clients = [
    {
        name: "{{text.testi1}}",
        work: "{{text.testi1_1}}",
        image: "{{ image.img_testi1.url }}",
        text: "{{text.testi1_2}}"
    },
    {
        name: "{{text.testi2}}",
        work: "{{text.testi2_1}}",
        image: "{{ image.img_testi2.url }}",
        text: "{{text.testi2_2}}"
    }
];

let me = {
    name: "{{text.about_name}}",
    label: "logo",
    image: "{{ image.img_krish2.url }}",
    location: {
        state: "{{link.location}}",
        city: "{{text.contact_loc}}"
    },
    email: "{{text.contact_get}}",
    social: {
        instagram: {
            name: "{{text.about_instagram}}",
            url: ""
        },
        linkedin: {
            name: "{{text.about_linkedin}}",
            url: ""
        },
        github: {
            name: "GitHub",
            url: ""
        },
        facebook: {
            name: "facebook",
            url: ""
        }
    },
    skill: {
        java: {
            name: "Java",
            value: 90
        },
        js: {
            name: "JavaScript",
            value: 55
        },
        ts: {
            name: "TypeScript",
            value: 75
        },
        html: {
            name: "HTML",
            value: 90
        },
        css: {
            name: "CSS",
            value: 90
        }
    }
}


$(".mobile-button").click(
    function() {
        $('.container').toggleClass("active");
    }
);

$("#my-image").css("background", `url(" ${me.image}") no-repeat 100%/cover`);
$(".my-name").html(me.name);
$(".my-email").html(me.email);
$(".my-insta").html(me.social.instagram.name);
$(".my-location").html(me.location.city + ', ' + me.location.state);

clientName.html(clients[index].name);
clientWork.html(clients[index].work);
clientQuote.html(`"${clients[index].text}"`);
clientImage.css("background", `url(" ${clients[index].image} ") no-repeat 100%/cover`);

let changeClient = (value) => {
    if(value === '+') {
        if(index+1 > clients.length-1) {
            index = 0;
        } else {
            index++;
        }
    } else if(value === '-') {
        if(index-1 < 0) {
            index = clients.length-1;
        } else {
            index--;
        }
    }
    clientName.html(clients[index].name);
    clientWork.html(clients[index].work);
    clientQuote.html('"' + clients[index].text + '."');
    clientImage.css("background", `url(" ${clients[index].image} ") no-repeat 100%/cover`);
}

let topFunction = () => {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
let scrollFunction = () => {
    document.body.scrollTop > 100 || document.documentElement.scrollTop > 100 ? myButton.css("display", "block") : myButton.css("display", "none");
}

let setSkill = function (id, skillValue) {
    let skill =  document.getElementById(id + '-value');
    skill.innerHTML = skillValue + '%';
    skill.style.left = (skillValue-5) + '%';

    document.getElementById(id + '-btn').style.left = (skillValue-2) + '%';
    document.getElementById(id + '-progress').style.width = skillValue + '%';
}

setSkill("css", me.skill.ts.value);
setSkill("js", me.skill.js.value);
setSkill("ts", me.skill.ts.value);
setSkill("html", me.skill.html.value);
setSkill("java", me.skill.java.value);

</script>
{% endfor %}
{% endfor %}
{% endfor %}

</body>

</html>